# web server
WEB_SSL=false
WEB_HOST=localhost
WEB_PORT=32169

# deovr json generator
DEOVR_JSON_GEN_DIR=/path/to/your/video/directory
DEOVR_JSON_GEN_EXT=mp4,mkv,avi,mov,wmv,flv,webm,m4v,mpg,mpeg,m2v,ts
# when running in loop mode, the script will sleep for this many seconds before running again
DEOVR_JSON_GEN_LOOP=60
DEOVR_JSON_GEN_VERBOSE=false
